{% extends "base.html" %}
{% block title %}MyBlog Home Page{% endblock %}
{% block header %}
{{ super() }}
<h1>MyBlog Home Page</h1>
{% endblock %}
{% block content %}
<h2>Current time: {{now}}</h2>
<p>Page visits: {{visits}}</p>
<div id="color-change">
    <button class="change-banner-color">
        Change Banner Color
    </button>
</div>
{% endblock %}

{% block stylesheet %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block javascript %}
{{ super() }}
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}