{% extends "bootstrap/base.html" %} {% block html_attribs %}lang="en"{% endblock
html_attribs %} {% block title %}
<title>MyBlog</title>
{% endblock title %} {% block content %}
<style>
  .jumbotron {
    height: 75px;
    text-align: center;
    line-height: 75px;
    background-color: darkcyan;
  }

  .jumbotron h1 {
    line-height: 20px;
  }
</style>
<div class="jumbotron jumbotron-fluid">
  <h1>MyBlog Home Page</h1>
</div>
{% block myblog_content %}{% endblock myblog_content%} {% endblock content %} {%
block footer %}
<h4>Copyright &copy; 2020 by MyBlog</h4>
{% endblock footer %}
