{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <style>
    :root {
        --background-url: url({{url_for("static", filename= "images/myblog_jumbotron_50.png")}});
    }
    </style>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}"/>
{% endblock %}

{% block myblog_content %}
    {{ myblog_jumbotron() }}

    <div id="myblog_content">
        <div class="card bg-warning mb-3 font-weight-bold">
            <div class="card-body">Current time: {{ data["now"] }}</div>
        </div>
        <p>Page visits: {{ data["page_visit"].counts() }}</p>
        <p>List of available banner colors:</p>
        <ul class="list-group">
            {% for banner_color in data["banner_colors"]["display"] %}
            <li class="list-group-item">{{ banner_color }}</li>
            {% endfor %}
        </ul>
        <br />
        <button id="change-banner-color" type="button" class="btn btn-primary">
            Change Banner Color
        </button>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        const banner_colors = {{ data["banner_colors"]["js"]| safe }};
    </script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}